/*==========================
=> mobile header area css
============================*/
.mobile-header-area {
    padding: 30px 0;
    .mobile-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .mobile-menu-area {
            a {
                font-size: 30px;
                color: $heading-color-1;
            }
        }
    }
}