/*==========================
=> section title css
============================*/ 

.section-title {
    margin-bottom: 30px;
    @include breakpoint(medium){
        margin-bottom: 50px;
    }
    h1 {
        font-size: 28px;
        font-weight: 800;
        margin: 0;
        @include breakpoint(medium){
            font-size: 35px;
        }
    }
}