/*==========================
=> Variable css
============================*/
 
// bg  color css 
$section-bg-color: #f8f9f9;
$section-bg-color-2: #f6f7f8;
$section-bg-color-3: #2f3737;
$bg-color-1: #ffffff;
$bg-color-2: #010101;
$action-bg-color: #f6f7f8;

//  heading  color css 
$heading-color-1:#010101;

// border  color css 
$border-color-1: #f8f9f9;
$border-color-2: #dFdFdF;

//  normal  color css 
$body-text-color: #666666;
$text-color-1: #fff;
$text-color-2: #434343;
$badges-color: #9AC45C;
$rating-color: #F9BF00;

$black-color: #000000;
$blue-color: #0000ff;
$green-color: #008000;
$pink-color: #ffc0cb;
$white-color: #ffffff;
$red-color: #ff0000;
$yellow-color: #ffff00;

//  hover  color css 
$main-hover: #9b1732;


//  box shadow 
$box-shadow-1: 0 1px 7px -2px rgba(0,0,0,.3);
$box-shadow-2: 0 1px 6px 0 rgba(32, 33, 36, 0.28);

//  transition
$transition: all .3s ease 0s;
$transition-1: all 1.5s ease 0s;
$transition-2: all .5s ease 0s;

// font variable 
$heading-font: 'Montserrat', sans-serif;
$body-font: 'Poppins', sans-serif;
